* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
    color:white;
}
.header-section{
    position: relative;
}
.guest-house{
    font-size: 35px;
}
.header {
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    position:absolute;
    padding-top: 40px;
    z-index: 2;
    margin-bottom: 50px;
}
.card-img-top{
    width: 300px;
    height: 210px;
    border-radius: 10px;
}
.card-text{
    font-size: 20px;
}

.header-menu {
    display: flex;
    font-size: 20px;
    gap: 40px;
}


.header-menu a{
    text-decoration: none;
    color:white;

}
.logo{
    color: white;
}
.book-now button {
    background-color:#e82574;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    height: 50px;
    width: 130px;
    color: white;
    font-size: 20px;
}
.rooms{
    margin-top: 180px;
    height: 600px;
   margin-left: 130px;
   
   font-size: 15px;
}
.next3{
    font-size: 45px;
    
}
.card1{
    height: 110px;
    width: 60%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    background-color:white;
    margin-top: -50px;
    align-items: bottom;
    border-radius: 12px;
    margin: 0 auto;
    align-items: center;
    position:absolute;
    top: 93%;
    left: 20%;
}
.card7{
    height: 130px;
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
    background-color:white;
    margin-top: -50px;
    align-items: bottom;
    border-radius: 12px;
    margin: 60px auto;
    align-items: center;
}
.card7 h2{
    margin-bottom: 10px;
}
.card7 span{
    font-size: 20px;
}
center{
    font-size: 20px;
}

#about{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    height: 600px;
    gap: 50px;
}

h1{
    font-size: 40px;
}
.text{
    width: 25%;
}
.text h4{
    margin-bottom: 20px;
}
.text h2{
    margin-bottom: 30px;
    font-size: 40px;
}
.next2{
    color:#78716c;
    font-size: 20px;
}
.next2 p{
    margin-bottom: 20px;
}
.next2 a{
    text-decoration: none;
}
.about-btn{
    margin-top: 30px;
}
.about img{
    border-radius: 5px;
}
.card-group{
    width: 50%;
    display: flex;
}
.card{
    margin: 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 480px;
    border-radius: 10px;
}

.card-body{
    padding: 15px;
}
.services{
    margin-top: 180px;
    display: flex;
    overflow: hidden;
}
.services img{
    height: 500px;
    width: 800px;
}
.sevices-img{
    width: 50px;
}
.icon1{
    padding: 8px;
    border-radius: 50%;
    background-color: #c3ddfd;
    
}
.icon2{
    padding: 8px;
    border-radius: 50%;
    background-color: #efbbd6;
}
.icon3{
    padding: 8px;
    border-radius: 50%;
    background-color: #dccaec;
}
.icon4{
    padding: 8px;
    border-radius: 50%;
    background-color: #efa7b2;;
}


ul{
    font-size: 30px;
}
.services-text{
    margin-left: 60px;
}
.services-text ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.services-text h1{
    font-size: 50px;
}
.services-text ul li p{
    font-size: 25px;
}
.card1 button{
    background-color:#e82574;
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 130px;
    color: white;
    font-size: 20px;
}
.main-banner{
    height: 800px;
    width: 100%;
    
    position: relative;
}
.hamburger{
    display: none;
}
.banner-text{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 40px;
    color: white;
}
.banner-text p{
    font-size: 30px;
    color: whitesmoke;
}
.next{
    color: #e82574;
}
.main-banner img{
    width: 100%;
    height: 800px;
    
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery{
    height: 100vh;
    width: 100%;
}
.gallery{
    display: grid;
    grid-auto-flow: dense;
    grid-template:
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh
        "1fr 1fr 1fr 1fr" 33.33vh;
}
.item{
    position: relative;
}
.item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}
section1::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff38e;
}
.container1
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;

}
.container1 .contactInfo1{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background-color:#e82574;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15); 
    border-radius: 22px;
}
.container1 .contactInfo1 h2{
    color: #fff;
    font-size:35px;
    font-weight: 500;
}
.container1 .contactInfo1 ul.info {
   list-style-type: none;
   position: relative;
   margin: 20px 0; 
}
.container1 .contactInfo1 ul.info li p{
    color: #fff;
    font-size: 25px;
}
.container1 .contactInfo1 ul.info li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    width: 30px;
    min-width: 30px;
    
}

 
.container1 .contactInfo1 ul.sci{
    position: relative;
    display: flex;
}
.container1 .contactInfo1 ul.sci li{
   list-style: none;  
   margin-right: 15px;
}
.container1 .contactInfo1 ul.sci li a{
   text-decoration: none;
}
.container1 .contactInfo1 ul.sci li a img{
   filter: invert(1);
}

.container1 .contactForm1
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff; 
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
    border-radius: 22px;
}

.container1 .contactForm1 h2
{
    color:#e82574;
    font-size: 30px;
    font-weight: 500;
}
.container1 .contactForm1 .formBox1
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container1 .contactForm1 .formBox1 .inputBox1
{
    position: relative;
    margin-bottom: 35px;
}

.container1 .contactForm1 .formBox1 .inputBox1.w50
{
    width: 47%;
}

.container1 .contactForm1 .formBox1 .inputBox1.w100
{
    width: 100%;
}
.container1 .contactForm1 .formBox1 .inputBox1 input,
.container1 .contactForm1 .formBox1 .inputBox1 textarea 
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container1 .contactForm1 .formBox1 .inputBox1 textarea 
{
    height: 120px;
}

.container1 .contactForm1 .formBox1 .inputBox1 span 
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container1 .contactForm1 .formBox1 .inputBox1 input:focus ~ span,
.container1 .contactForm1 .formBox1 .inputBox1 input:valid ~ span,
.container1 .contactForm1 .formBox1 .inputBox1 textarea:focus ~ span, 
.container1 .contactForm1 .formBox1 .inputBox1 textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size:  12px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#e82574;
    font-weight: 500;
} 
.container1 .contactForm1 .formBox1 .inputBox1 input[type="submit"]         
{
    position: relative;
    cursor: pointer;
    background-color:#e82574;
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}

.container1 .contactForm1 .formBox1 .inputBox1 input[type="submit"]:hover{
    background-color:#e82574;
}
.footer {
  background-color: black;
  color: gray;
  height: 500px;
  display: flex;
  
}
.footer_block{
    margin-top: 100px;
    margin-left: 60px;
    height: 150px;
    width: 300px;
}
.footer-links{
    font-size: 25px;
}
.footer_container {
  display: flex;
  gap: 4rem 2rem;
  margin: 0 auto;

}

.footer_block .section-text {
  margin-block: 2rem;
  font-size: 25px;
}

.footer_block h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.footer-links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer-links a {
  color: gray;
  transition: 0.3s;
}

.footer-links a:hover {
  color: white;
}

.footer-connection {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer-connection img {
  max-width: 25px;
  height: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer-connection img:hover {
  opacity: 1;
}

.footer-end {
  padding: 1rem;
  font-size: 0.9rem;
  color: gray;
  text-align: center;
  background: black;
}
@media only screen and (max-width: 768px) and (min-width: 360px){
    .header-menu {
        display: none;
        
    }
    .hamburger{
        display:block;
    }
    .hame_menu{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 100px;
    }
    .hame_menu a{
        text-decoration: none;
        padding: 10px 0;
    }
    .main-banner{
        height: 300px;
    }
    .main-banner img{
        height: 300px;
    }
    .banner-text{
        top: 40%;
        left: 20%;
    }
    .banner-text p{
        font-size: 14px;
    }
    .banner-text h2{
        font-size: 25px;
    }
    .footer_container {
        flex-direction: column;
        padding: 40px 0;
    }
    .container1{
        flex-direction:column;
    }
    .card1{
        width: 90%;
        top: 80%;
        left: 5%;
    }
    .text{
        width: 95%;
        margin-top: 50px;
        padding: 0 30px;
    }
    .about img{
        margin-left: 0;
    }
    #about{
        flex-direction: column;
        margin-top: 100px;
        height: auto;
    }
    .about{
        margin-left: 0;
    }
    .next3{
        font-size: 30px;
    }
    .gallery{
        grid-template:
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px
        "1fr 1fr" 200px;
    }
    .rooms{
        margin-left: 0;
        height: auto;
    }
    .card-group{
        flex-direction: column;
        width: 100%;
    }
    .container1{
        min-width: 400px;
        display: block;
    }
    .section1{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .container1 .contactInfo1{
        position: relative;
        width: 100%;
        top: 0;
        margin-bottom: 30px;
    }
    .container1 .contactForm1{
        height: auto;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        padding: 0;
        position: relative;
    }
    .container1 .contactForm1 .formBox1{
       flex-direction: column; 
       padding: 20px;
    }
    .services{
        display: block;
        position: relative;
    }
    .services img{
        height: 700px;
    }
    .services-text{
        position: absolute;
        top: 10%;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-left: 0;
    }
    .service-img-2{
        display: none;
    }
    .card7{
        width: 100%;
    }
    .hundred b{
        margin-right: 0;
    }
    .onefifty b{
        margin-left: 0;
    }
    .onefifty span{
        margin-left: 0;
    }
    .footer{
        height: auto;
    }
    .footer_block{
        margin-left: 0;
        height: auto;
        margin-top: 10px;
    }
    .header .book-now button{
        display: none;
    }
}
